{% extends "layout/master.twig" %}

{% block title %}{{ category.nombre }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id %}{{ category.nombre }}{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div id="section">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <img data-role="image"
                             class="img-fluid" data-processed="true"
                             src="{{ category.url_image }}"
                             style="display: block;">
                        <div class="centered">
                            <h1>{{ category.titulo }}</h1>
                            <p>{{ category.subtitulo }} </p>
                        </div>

                    </div>
                </div>
                <div class="row no-gutters bg-white">
                    <div class="row w-75 mx-auto">
                        {% for producto  in result %}
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div class="item-highlights-new">
                                    <a href="{{ settings.DOMAIN }}producto/{{ producto.id }}">
                                        <div class="content-image">
                                            <img class="img-fluid center-block"
                                                 src="{{ producto.url_image }}"
                                                 alt="{{ producto.nombre }}" title="{{ producto.nombre }}">
                                        </div>
                                    </a>
                                    <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/{{ producto.id }}">
                                            {{ producto.nombre }}
                                            <br>
                                            ${{ producto.precio }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="row no-gutters bg-white">
                    <div class="row w-75 mx-auto text-center py-5">
                        <span style="margin: 0 auto">
                        {{ category.descripcion | raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}