{% extends "layout/master.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id %}home{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div id="section">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <img data-role="image"
                             class="img-fluid" data-processed="true"
                             src="https://www.pandora.net/-/media/Images/Consumer/campaigns/2019/Mothersday2019/CollectionPage/Desktop/01_desktop_TopImage_1600x270px.jpg"
                             style="display: block;">
                        <div class="centered">
                            <h1>Promociones</h1>
                            <h4>Test Subtitle</h4>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters bg-white">
                    <div class="row w-75 mx-auto">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot.jpg"
                                             alt="DRHR6W" title="DRHR6W">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            DRHR6W
                                            <br>
                                            $253.88
                                        </a>
                                    </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot2.jpg"
                                             alt="PS-24050" title="PS-24050">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            PS-24050
                                            <br>
                                            $20.62
                                        </a>
                                    </span>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot3.jpg"
                                             alt="REP-3050-T" title="REP-3050-T">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            REP-3050-T
                                            <br>
                                            $125.09
                                        </a>
                                    </span>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot4.jpg"
                                             alt="3LMTP364" title="3LMTP364">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            3LMTP364
                                            <br>
                                            $869.26
                                        </a>
                                    </span>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot3.jpg"
                                             alt="REP-3050-T" title="REP-3050-T">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            REP-3050-T
                                            <br>
                                            $125.09
                                        </a>
                                    </span>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot4.jpg"
                                             alt="3LMTP364" title="3LMTP364">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            3LMTP364
                                            <br>
                                            $869.26
                                        </a>
                                    </span>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot.jpg"
                                             alt="3LMTP269" title="3LMTP269">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            3LMTP269
                                            <br>
                                            $1,549.79
                                        </a>
                                    </span>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-4">
                            <div class="item-highlights-new">
                                <a href="{{ settings.DOMAIN }}producto/1">
                                    <div class="content-image">
                                        <img class="img-fluid center-block"
                                             src="{{ settings.IMG }}packshot2.jpg"
                                             alt="LA3528IP66Z12R" title="LA3528IP66Z12R">
                                    </div>
                                </a>
                                <span class="product-name">
                                        <a href="{{ settings.DOMAIN }}producto/1">
                                            LA3528IP66Z12R
                                            <br>
                                            $876.47
                                        </a>
                                    </span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row no-gutters" style="background-color: #f1f1f3">
                    <div class="row w-75 mx-auto mt-5">
                        <div class="row no-gutters mx-auto py-4">
                            <h2>PROMOCIONES ADICIONALES</h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                                <div class="card">
                                    <img class="card-img-top"
                                         src="https://www.pandora.net/-/media/Images/Consumer/campaigns/2019/Mothersday2019/CampaignPages/Teaserlist/Desktop/MD19_desktop_giftset_teaserlist_312x208.jpg"
                                         alt="Card image cap">
                                    <div class="card-body text-center">
                                        <p class="font-weight-bold">Bold text.</p>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-outline-dark btn-lg">Ver más</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                                <div class="card">
                                    <img class="card-img-top"
                                         src="https://www.pandora.net/-/media/Images/Consumer/campaigns/2019/Mothersday2019/CampaignPages/Teaserlist/Desktop/MD19_desktop_friends_teaserlist_312x208.jpg"
                                         alt="Card image cap">
                                    <div class="card-body text-center">
                                        <p class="font-weight-bold">Bold text.</p>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-outline-dark btn-lg">Ver más</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                                <div class="card">
                                    <img class="card-img-top"
                                         src="https://www.pandora.net/-/media/Images/Consumer/campaigns/2019/Mothersday2019/CampaignPages/Teaserlist/Desktop/MD19_desktop_limited_edition_teaserlist__312x208.jpg"
                                         alt="Card image cap">
                                    <div class="card-body text-center">
                                        <p class="font-weight-bold">Bold text.</p>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <button type="button" class="btn btn-outline-dark btn-lg">Ver más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}