<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %} - Karannah</title>

        <link rel="stylesheet" type="text/css" href="{{ settings.BOOTSTRAP }}css/bootstrap.css" media="all">
        <link rel="stylesheet" type="text/css" href="{{ settings.BOOTSTRAP }}css/bootstrap-grid.css" media="all">
        <!--<link rel="stylesheet" type="text/css" href="{{ settings.CSS }}style.css" media="all">!-->
        <link rel="stylesheet" type="text/css" href="{{ settings.CSS }}fixed.css" media="all">
        <link rel="icon" href="{{ settings.IMG }}logo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="{{ settings.BOOTSTRAP }}js/bootstrap.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">

<div id="header" class="" role="navigation">
    <div class="container-fluid logo-desktop wide-content">
        <div class="row">
            <div class="col-lg-7 no-gutters text-right">
                <a class="navbar-brand" href="{{ settings.DOMAIN }}" itemprop="url">
                    <img itemprop="logo" alt="Karannah" title="Karannah"
                         src="{{ settings.IMG }}logo.png" width=""/>
                </a>
            </div>
            <div class="col-lg-5 no-gutters">
                <div class="cart">
                    <div class="cart_img"><img src="{{ settings.IMG }}cart.png" width="28px"></div>
                    <div class="cart_link"><a href="#">VACÍO </a>
                        | BIENVENIDO: MARIO CUEVAS </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
        <div class="mobile-header">
            <a class="navbar-brand" href="{{ settings.DOMAIN }}" itemprop="url">
                <img itemprop="logo" alt="Karannah" title="Karannah"
                     src="{{ settings.IMG }}logo.png" width="">
                <span>Karannah</span>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}novedades" class="nav-link">
                        <span class="txt ext-uc">NOVEDADES</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}promociones" class="nav-link"><span
                                class="txt ext-uc">PROMOCIONES</span></a>
                </li>
                {% for item  in categories_all %}
                    <li class="nav-item">
                        <a href="{{ settings.DOMAIN }}categoria/{{ item.id }}" class="nav-link"><span
                                    class="txt ext-uc">{{ item.nombre }}</span></a>
                    </li>
                {% endfor %}
                <!--
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}categoria/1" class="nav-link"><span
                                class="txt ext-uc">PULSERAS</span></a>
                </li>

                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}categoria/2" class="nav-link"><span
                                class="txt ext-uc">DIJES</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}categoria/3" class="nav-link"><span class="txt ext-uc">ANILLOS</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}categoria/4" class="nav-link"><span
                                class="txt ext-uc">BRAZALETES</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}categoria/5" class="nav-link"><span
                                class="txt ext-uc">JUEGOS</span></a>
                </li>
                !-->
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}videos" class="nav-link"><span class="txt ext-uc">VIDEOS</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><span class="txt ext-uc">CONOCE MÁS</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><span class="txt ext-uc">COMPRA EN LÍNEA</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ settings.DOMAIN }}quienes-somos" class="nav-link"><span
                                class="txt ext-uc">¿QUIÉNES SOMOS?</span></a>
                </li>
            </ul>

        </div>
    </nav>

</div>
{% block content %}{% endblock %}

<div class="footer">
    <div class="container-fluid contentFooter">
        <div class="container mb-2">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <a href="{{ settings.DOMAIN }}">Inicio</a>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="#" target="">Términos de Uso</a>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="#">Contacto</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <legend>
                        <span class="glyphicon glyphicon-globe"
                              style="font-size:65%; padding-right:10px;"></span>Dirección
                    </legend>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <form>
                        <address>
                            Test dirección #345, C.P. 4564987<br>
                            Puebla, México
                        </address>
                        <address>
                            <strong>E-mail</strong><br>
                            <a href="mailto:#">test@email.com</a>
                        </address>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <form>
                        <address>
                            <abbr title="Phone">
                                Teléfono:</abbr><br>
                            01 (222) 884 4549<br>
                        </address>
                        <address>
                            <div class="social">
                                <a id="face" target="_blank" href="#"></a>
                            </div>
                        </address>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>