<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Login - Iluminamos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ settings.CSS }}login.css" media="all">

</head>
<body>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="login-card"><img src="{{ settings.IMG }}avatar_2x.png" class="profile-img-card"/>

                    <p class="profile-name-card"></p>

                    <form class="form-signin" id="form_login">
                        <span class="reauth-email"> </span>
                        <input type="email" required placeholder="Ingresa E-mail" autofocus class="form-control"
                               id="inputEmail" name="e_mail"/>
                        <input type="password" required placeholder="Ingresa Password" class="form-control"
                               id="id_password"/>

                        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Aceptar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="{{ settings.JS }}custom/baseFunctions.js"></script>
<script src="{{ settings.JS }}bootbox.min.js"></script>
<script type="text/javascript" src="{{ settings.JS }}custom/config.js"></script>
<script src="{{ settings.JS }}md5.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ settings.JS }}custom/login.js"></script>
</body>
</html>