{% extends "layout/master.twig" %}
{% block title %}Productos{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="{{ settings.FILEINPUT }}css/fileinput.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <h2 class="sub-header">Productos</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" role="form" id="form_global" data-toggle="validator">
                <div class="form-group">
                    <label for="id_categoria" class="col-lg-2 control-label">Categoria:</label>
                    <div class="col-lg-10">
                        <select class="form-control input-sm" id="id_categoria" name="id_categoria" aria-controls="datatable">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_codigo_interno" class="col-lg-2 control-label">Código Interno:</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="id_codigo_interno" placeholder="Código Interno"
                               required
                               autocomplete="off" name="codigo_interno">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_nombre" class="col-lg-2 control-label">Nombre:</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="id_nombre" placeholder="Nombre"
                               required
                               autocomplete="off" name="nombre">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_precio" class="col-lg-2 control-label">Precio:</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="id_precio" placeholder="Precio" required
                               autocomplete="off" name="precio">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_iva" class="col-lg-2 control-label">IVA:</label>
                    <div class="col-lg-10">
                        <select name="iva" id="id_iva" aria-controls="datatable" class="form-control input-sm">
                            <option value="0">0%</option>
                            <option value="0.16" selected="selected">16%</option>
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_descripcion" class="col-lg-2 control-label">Descripción:</label>

                    <div class="col-lg-10">
                        <textarea id="id_descripcion" autocomplete="off" style="resize:none;" rows="10"
                                  cols="50"></textarea>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_novedades" class="col-lg-2 control-label">Mostrar en Novedades:</label>
                    <div class="col-lg-10">
                        <select name="novedades" id="id_novedades" aria-controls="datatable" class="form-control input-sm">
                            <option value="1">Sí</option>
                            <option value="0" selected="selected">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="id_promociones" class="col-lg-2 control-label">Mostrar en Promociones:</label>
                    <div class="col-lg-10">
                        <select name="promociones" id="id_promociones" aria-controls="datatable" class="form-control input-sm">
                            <option value="1">Sí</option>
                            <option value="0" selected="selected">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ejemplo_email_3" class="col-lg-2 control-label">Imágenes</label>

                    <div class="col-lg-10">
                        <input id="id_imagen" name="imagenes[]" multiple type="file" class="file-loading"
                               accept="image/*">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group" style="text-align: right;">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" id="id_submit">Aceptar</button>
                        <button type="button" class="btn btn-primary" id="reset_button">Limpiar</button>
                    </div>
                </div>
                <input type="hidden" id="submit_type" value="productos/add"/>
                <input type="hidden" id="upload_images" value="1"/>
                <input type="hidden" id="submit_id"/>
                <input type="hidden" id="id_producto"/>

            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Nombre</th>
                    <th>Código Interno</th>
                    <th>Precio</th>
                    <th>IVA</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script src="{{ settings.JS }}jquery-ui.js"></script>
    <script type="text/javascript" src="{{ settings.JS }}custom/productos.js"></script>
    <script type="text/javascript" src="{{ settings.JS }}validator.js"></script>
    <script type="text/javascript" src="{{ settings.FILEINPUT }}js/fileinput.js"></script>
    <script type="text/javascript" src="{{ settings.FILEINPUT }}js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="{{ settings.FILEINPUT }}js/plugins/purify.min.js"></script>
    <script type="text/javascript" src="{{ settings.FILEINPUT }}js/locales/es.js"></script>
    <script type="text/javascript" src="{{ settings.FILEINPUT }}js/plugins/canvas-to-blob.js"></script>
    <script type="text/javascript" src="{{ settings.JS }}tinymce/tinymce.min.js"></script>
{% endblock %}